/Login.class
/Logout.class
/Register.class
/RpcHelper.class
/AddPoint.class
/DeletePoint.class
/SearchPoint.class
/ChangePoint.class
/JWToken.class
/JWtToken.class
/GetPoints.class
/UpdatePoint.class
